# Personal Information
Name: **Thomas Erhard**

StudentID: **15081931**

Email: [**thomas.erhard@student.uva.nl**](thomas.erhard@student.uva.nl)

Submitted on: **22.03.2024**

# Data Context
**In this section you should introduce the datasources and datasets which you will be working with. Explain where they are from as well as their domain. Give an overview of what the context of the data is. You should not spend more than 1 to 2 paragraphs here as the core information will be in the next section.**

# Data Description

**Present here the results of your exploratory data analysis. Note that there is no need to have a "story line" - it is more important that you show your understanding of the data and the methods that you will be using in your experiments (i.e. your methodology).**

**As an example, you could show data, label, or group balances, skewness, and basic characterizations of the data. Information about data frequency and distributions as well as results from reduction mechanisms such as PCA could be useful. Furthermore, indicate outliers and how/why you are taking them out of your samples, if you do so.**

**The idea is, that you conduct this analysis to a) understand the data better but b) also to verify the shapes of the distributions and whether they meet the assumptions of the methods that you will attempt to use. Finally, make good use of images, diagrams, and tables to showcase what information you have extracted from your data.**

As you can see, you are in a jupyter notebook environment here. This means that you should focus little on writing text and more on actually exploring your data. If you need to, you can use the amsmath environment in-line: $e=mc^2$ or also in separate equations such as here:

\begin{equation}
    e=mc^2 \mathrm{\space where \space} e,m,c\in \mathbb{R}
\end{equation}

Furthermore, you can insert images such as your data aggregation diagrams like this:

![image](example.png)

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data Loading

In [3]:
# Load your data here
df_jobs = pd.read_csv("../data/jobs.csv")
df_jobs

       Job Length  Job Resource 1  Job Resource 2
0              16             2.0             9.0
1              25            10.0             3.0
2              22             6.0             5.0
3              17             3.0            10.0
4              20            13.0             3.0
...           ...             ...             ...
99995          23             3.0            13.0
99996          26             2.0            10.0
99997          15             5.0            14.0
99998          14             3.0            10.0
99999          13            13.0             1.0

[100000 rows x 3 columns]

### Analysis 1: 
Make sure to add some explanation of what you are doing in your code. This will help you and whoever will read this a lot in following your steps.

In [3]:
# Also don't forget to comment your code
# This way it's also easier to spot thought errors along the way
# Categorize jobs based on length
df_jobs['Category'] = ['Anomalous' if x > 18 else 'Normal' for x in df_jobs['Job Length']]

# Set up the matplotlib figure
plt.figure(figsize=(10, 6))

# Plot a histogram of job lengths, colored by their category
sns.histplot(data=df_jobs, x='Job Length', hue='Category', element='step', stat='density', common_norm=False)

plt.title('Distribution of Job Lengths')
plt.xlabel('Job Length')
plt.ylabel('Density')
plt.legend(title='Category')

# Show plot
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

### Analysis 2:

In [4]:
# ...

### Analysis n:

In [5]:
# ...